@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
        url('fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
body {
    display: flex;
    min-height: 100vh;
    margin: 0;
}
.left {
    flex: 1;
    background-image: url("images/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: rgb(0 0 0 / 0.5);
}
.logo-container img {
    height: 140px;
    margin: 1rem 0;
}
h1 {
    font-family: "Norse";
    color: white;
    font-size: 6rem;
    margin: 0;
}
.right {
    flex: 2;
}
section {
    padding-left: 3rem;
}
.welcome-section, .bottom-section {
    background-color: rgb(249, 250, 251);
}
.welcome-section {
    padding-top: 10rem;
}
h2 {
    margin: 0;
}
.form-section {
    padding: 2rem 3rem;
}
.inputs {
    display: flex;
    gap: 3rem;
}
label {
    text-transform: uppercase;
}
input {
    background-color: rgb(249, 250, 251);
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    padding: 0.25rem;
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;
}
input:focus {
    border-color: #4A90E2;
    box-shadow: 0 0 4px rgba(74, 144, 226, 0.5);
}
input:invalid {
    border-color: red;
}
.input-group {
    display: flex;
    flex-direction: column;
}
button {
    margin-top: 2rem;
    padding: 0.75rem 2rem;
    background-color: #596D48;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s;
}
button:hover {
    background-color: #4f613f;
}
.bottom-section a {
    color: #596D48;
    text-decoration: none;
    font-weight: bold;
}